<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin - Home</title>
</head>
<body>
	<div align="center">
		<div>
			<h3 style="color: green;" th:text="${session.success}"></h3>
			<h3 style="color: red;" th:text="${session.failure}"></h3>
			<th:block th:text="${@messageRemover.remove()}"></th:block>
		</div>
		<h2>----------------Admin DashBoard-------------</h2>
		<h3>Manage Your Store and Products</h3>
		<button>Approve Products</button>
		<br>
		<br>
		<a href="/admin/logout"><button>Logout</button></a>
	</div>
</body>
</html>