<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Customer - Home</title>
</head>
<body>
	<div align="center">
		<div>
			<h3 style="color: green;" th:text="${session.success}"></h3>
			<h3 style="color: red;" th:text="${session.failure}"></h3>
			<th:block th:text="${@messageRemover.remove()}"></th:block>
		</div>
		<h2>Welcome To Customer Dashboard</h2>
		<a href="/customer/view-products"><button>View Products</button></a> <br>
		<br>
		<a href="/customer/search-products"><button>Search Products</button></a><br> 
		<br>
		<button>View Cart</button>
		<br> <br>
		<button>View Previous Orders</button>
		<br> <br> <a href="/customer/logout"><button>Logout</button></a>
	</div>
</body>
</html>